header{
    color: white;
    height: 70px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}

h6{
    /*image*/
    margin-left: 20px; /*20 px at left*/
    line-height: 60px; /*vertically centered*/
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}